@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.blue {
    color: blue;
}

img {
    width: 100%;
}

.container__menu--open {
    min-width: 100vw;
    overflow-x: hidden;
}

#landing {
    padding: 0 32px;
}


/* NAVIGATION */

nav {
    padding-top: 32px;
    display: flex;
}

.container {
    padding: 96px 0;
}


.nav__row {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}


.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link {
    margin: 0 24px;
}

a {
    display: inline;
    text-decoration: none;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: blue;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;

}

.btn__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
    border: none;
}

/* MENU */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* HEADER */

header {
    position: relative;
    
}

.header__description {
    width: 40%;

}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para {
    margin: 32px 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% 40%);
}



